.slider-container {
  overflow: hidden;
  cursor: grab;
  flex: 0 0 auto;
  max-width: 100%;
  height: 100%;

  .slider {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    height: 100%;
    transform: translateX(0);
    transition: transform 0.3s ease-out;

    &.grabbing {
      cursor: grabbing;
      // transform: scale(0.95);
    }

    * {
      user-select: none;
    }
  }
}
