$neutral-0: #ffffff;
$neutral-100: #fcfcfc;
$neutral-200: #f5f5f5;
$neutral-300: #dfdfdf;
$neutral-400: #c7c7c7;
$neutral-500: #aaaaaa;
$neutral-600: #919191;
$neutral-700: #666666;
$neutral-800: #474747;
$neutral-900: #383838;
$neutral-1000: #000000;

.container {
  margin: 0 auto;
  width: 85%;
}

.app {
  color: $neutral-900;
  background-color: $neutral-100;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  & * {
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }

  &.dark-mode {
    background-color: $neutral-900;
    color: $neutral-100;

    .header,
    .toolbox {
      background-color: $neutral-800;
    }
    .header {
      .container {
        .btn-header {
          background-color: $neutral-200;
          color: $neutral-800;
        }
      }
    }
    .editing-image {
      .image-container {
        background-color: $neutral-800;
      }
    }

    .toolbox {
      &-item,
      &-slider {
        color: $neutral-100;
      }
    }
  }

  .header,
  .toolbox {
    background-color: $neutral-200;
  }

  .header,
  .toolbox,
  .editing-image {
    width: 100%;
  }

  .header {
    font-size: 4rem;
    width: 100%;
    grid-area: header;
    padding: 2rem 0;
    // height: 8.4rem;

    .container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 1.05em;
        font-weight: 300;
      }

      .btn-header {
        padding: 1rem;
        height: 4rem;
        width: 4rem;
        background-color: $neutral-800;
        color: $neutral-200;
        border-radius: 50%;

        .icon {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .editing-image {
    grid-area: main;
    max-height: 100%;

    .container {
      padding: 5rem 0;
      max-height: 100%;
      height: 100%;
    }

    .image-container {
      max-width: 100%;
      height: 100%;
      background-color: $neutral-200;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .image {
      width: 100%;
      height: 100%;
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;

      &:active {
        filter: none !important;

        &::before {
          content: 'Before';
          position: absolute;
          background-color: inherit;
          color: inherit;
          top: 0;
          left: 0;
          font-size: 2rem;
          font-weight: 700;
          padding: 0.5em;
          margin: 0.5em;
        }
      }
    }
  }

  .toolbox {
    grid-area: footer;
    height: 8.4rem;
    padding: 1rem;
    width: 100%;
    overflow-x: hidden;

    &-item {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 8rem;
      background: transparent;
      height: 100%;
      color: $neutral-900;

      &:disabled {
        color: inherit;
      }

      &-icon {
        width: 3.2rem;
        height: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;

        * {
          width: 2.2rem;
          height: 2.2rem;
        }
      }

      &-name {
        color: inherit;
        font-size: 1.2rem;
        text-transform: capitalize;
      }
    }

    &-slider {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 1rem 0 0;
      color: $neutral-900;

      &-back {
        height: 100%;
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 0 0.5em;
        background: transparent;
        margin-right: 0.8rem;
        color: inherit;
      }

      .toolbox-item {
        min-width: 6.5rem;
        margin-right: 1.2rem;
      }

      &-back,
      .toolbox-item {
        flex: 1 1 auto;
      }

      .range-slider {
        flex: 1 1 100%;
      }
    }
  }
}
